body {
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 15%;
}
#start-screen {
    background-color: rgb(237, 207, 212);
    display: inline-block;
    margin: 0 auto;
}

button {
    background-color: pink;
    border-radius: 5px;
    padding: 10px;
    border-color: rgb(54, 45, 47);
    border-style: groove;
}